<% content_for :cover do %>
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents text-center">
      <h1>懐かしい「日常のひとコマ」をのぞき見る旅</h1>
    </div>
  </div>
</div>
<% end %>

<p>テスト</p>