<% content_for :cover do %>
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents text-center">
      <h1>懐かしい「日常のひとコマ」をのぞき見る旅</h1>
    </div>
  </div>
</div>
<% end %>

<%= search_form_for @search do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <%= f.text_field :name_or_content_cont_any, class: "form-control", placeholder: "気になるひとコマを探そう" %>
    </div>
    <div class="actions">
      <%= f.submit "検索" %>
    </div>
  </form>
<% end %> 

