// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user img {
  border-radius: 100px;
  width: 200px;
  height: auto;
}