<footer>
  <div class="text-center">
    <img src="/images/logo.png" alt="ひとコマとりっぷ">
    <ul class="list-inline">
      <li><a href="https://twitter.com/anesan_aneko?lang=ja"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="https://www.instagram.com/anekoke"><i class="fa fa-instagram fa-2x"></i></a></li>
      <li>
        <%= link_to inquiry_path do%>
          <%= fa_icon 'envelope 2x' %>
        <% end %>
      </li>
    </ul>
    <p class="text-muted">&copy; 2018 ひとコマとりっぷ All rights reserved.️</p>
  </div>
</footer>